.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
  gap: 40px; /* espacio entre la imagen y el formulario */
}


.btnrecovery {
  background-color: #0b0b2c;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btnrecovery:hover {
  background-color: #1a1a4d;
}

input,
select {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  color: #000;
}

input::placeholder {
  color: #aaa;
}

input:focus,
select:focus {
  border-bottom: 1px solid #0b0b2c;
}



.imgrecovery {
  flex: 1;
  display: flex;
  align-items: center;     /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
  padding: 40px;

}

.recovery-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.recovery-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;       /* centra verticalmente */
  justify-content: flex-start; /* alinea el contenido a la izquierda */
  padding: 60px 80px;
  background-color: #ffffff;
  width: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}






