@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

.navbar {
  background-color: #0C133F;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-bottom: 4px solid #00b4ff;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;  /* ← alineado a la izquierda */
  align-items: center;
  width: 100%;
  gap: 40px; /* espacio entre logo y enlaces */
}

.logo img {
  height: 80px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px; /* ajustado para un espaciado más compacto */
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.navbar-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #00b4ff;
  transition: width 0.3s ease;
}

.navbar-list li a:hover::after {
  width: 100%;
}

.navbar-list li a:hover {
  color: #00b4ff;
}
